
.pagination {
  text-align: center;
  margin-top: 1.25rem;
  color: lighten($global-font-color, 10%) ;

  li {
    display: inline-block;

    a {
      min-width: 1.125rem;
      border: 1px solid  lighten($global-font-color, 10%) ;
      border-radius: 0.25rem;
      transition: all .2s ease;
      display: inline-block;
      text-decoration: none;
      padding: 0rem 0.375rem;
      font-size: 1rem;
      color: lighten($global-font-color, 10%);
      &:hover {
        color: $global-background-color;
      }
    }

    &.active a {
      color: lighten($global-background-color, 100%) ;
      background: darken($global-font-color, 5%) ;
    }
  }
}
