

html {

  body,
  span,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $global-font-family;
  }

  &.serif {
    body,
    span,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $global-serif-font-family;
    }
  }
}

a {
  color: $global-font-color;
  padding: 0.125rem;

  transition: color .3s ease 0s,background-color .3s ease 0s;
  -moz-transition: color .3s ease 0s,background-color .3s ease 0s;
  -o-transition: color .3s ease 0s,background-color .3s ease 0s;
  -webkit-transition: color .3s ease 0s,background-color .3s ease 0s;

  cursor: pointer;
  border-bottom: solid $global-font-color 0.125rem;
  
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:hover, &:focus {
    color: $global-background-color;
    background-color: $global-font-color;
    border-bottom: solid transparent 0.125rem;
  }
}

article{
  figure{    
    a {
      padding: 0;
      transition: none;
      border: none;
      background: none;
      &:hover,
      &:focus {
        text-decoration: none;
      }
      &:hover, &:focus {
        color: none;
        background-color: none;
        border: none;
      }
    }
  }
}

html,
body {
  min-height: 100%;
}

body{
  font-size: 100%;
  line-height: 1.5;
  color: $global-font-color;
  &::before{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .1;
    z-index: 1;
    position: fixed;
    background: url(/img/background/021.webp)100%/cover no-repeat $global-background-color;
  }
  @include scrollbar;
}

.vertical-text {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}


.box {
  box-shadow: 0 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: rgba(255, 255, 255,0.5);
  border-radius: 0.75rem;
  border-bottom: 0;
}