
.react-container{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 9;
  .header-container{
    order: 1;
    flex-shrink: 0;
    width: 18rem;
    position: sticky;
    height: 100%;
    top: 0;
    right: 0;
    padding: 5rem 1rem;
  }
  .main-container{
    order: 0;
    width: 100%;
    padding: 5rem 1rem;
  }
}

.scrollbar{
  @include scrollbar;
}

.scrollbar-none{
  @include scrollbar-none;
}